<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ObjectMapper">

<select id="getList" resultType="org.zerock.domain.ObjectVO">
<![CDATA[select*from tbl_object where idbno= #{idbno}]]>    
</select>





<insert id="insert">
 insert into tbl_object(idbno,object,period,percent)
 values(#{idbno},#{object},#{period},#{percent})
</insert>

<insert id="insertSelectKey">
	
	<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select max(bno)+1 from tbl_object
	</selectKey>
	insert into tbl_object(bno,object,period,percent,idbno)
	values (#{bno}, #{object}, #{period}, #{percent}, #{idbno})
</insert>

<select id="read" resultType="org.zerock.domain.ObjectVO">
	select*from tbl_object where bno= #{bno}
</select>

<delete id="delete">
	delete from tbl_object where bno= #{bno}
</delete>
<delete id="Mdelete">
	delete from tbl_object where idbno= #{idbno}
</delete>

<update id="update">
 update tbl_object set idbno = #{idbno}, object = #{object}, period = #{period}, percent = #{percent} where bno = #{bno}

</update>

			
			

</mapper>


<!--  -->





